<footer>
    <div class="scrolltop">
        <span class="scrolltop-icon">
        </span>
    </div>
    <div class="overlay"></div>
    <div class="popup popup-autorisation">
        <div class="popup-content">
            <div class="popup-title">войдите в личный кабинет</div>
            <div class="popup-autorisation-social">
                <div class="popup-autorisation-social-title">При помощи социальной сети:</div>
                <div class="popup-autorisation-social-links-wrap">
                </div>
                <div class="popup-autorisation-social-image" style="background-image: url(img/popup-autorisation-social-image.png);">
                </div>
            </div>
            <div class="or">
                или
            </div>
            <form class="autorisation-form">
                <label>
                <input type="email" name="autorisation-name" placeholder="E-mail">
                </label>
                <label>
                <input type="password" name="autorisation-password" placeholder="Пароль">
                </label>
                <span class="autorisation-form-registration">Нет личного кабинет? <a href="#">Зарегистрируйтесь</a></span>
                <button type="submit" class="btn autorisation-form-btn">Войти</button>
                <span class="autorisation-form-restore-password">Забыли пароль? <a href="#">Восстановить</a></span>
            </form>
        </div>
        <span class="popup-close">+</span>
    </div>
    <div class="popup popup-registration">
        <div class="popup-content">
            <div class="popup-title">Регистрация</div>
            <div class="popup-registration-social">
                <div class="popup-registration-social-title">При помощи социальной сети:</div>
                <div class="popup-registration-social-links-wrap">
                </div>
                <div class="popup-registration-social-image" style="background-image: url(img/popup-autorisation-social-image.png);">
                </div>
            </div>
            <div class="or">
                или
            </div>
            <form class="registration-form">
                <label>
                <input type="text" name="registration-name" placeholder="Ваше имя*">
                </label>
                <label>
                <input type="email" name="registration-email" placeholder="E-mail*">
                </label>
                <label>
                <input type="password" name="registration-password" placeholder="Введите пароль*">
                </label>
                <label>
                <input type="password" name="registration-password-repeat" placeholder="Повторите пароль*">
                </label>
                <button type="submit" class="btn registration-form-btn">Зарегистрироваться</button>
            </form>
        </div>
        <span class="popup-close">+</span>
    </div>
    <div class="popup popup-callback">
        <div class="popup-content">
            <div class="popup-title">оставьте ваши контактные данные</div>
            <div class="popup-title-under">Менеджер свяжется с вами в ближайшее время</div>
            <form class="callback-form">
                <label class="input-error">
                <input type="text" name="callback-name" placeholder="Ваше имя">
                </label>
                <label>
                <input type="tel" name="callback-tel" placeholder="Телефон для связи*">
                </label>
                <label>
                <input type="email" name="callback-email" placeholder="E-mail*">
                </label>
                <span class="required-text">* - поля обязятельные для заполнения</span>
                <button type="submit" class="btn callback-form-btn">Отправить</button>
                <span class="conf-policy">Нажимая кнопку я соглашаюсь с <a href="#" class="personal-data-link get-personal-data-popup custom">Условиями обработки персональных данных</a></span>
            </form>
            <div class="popup-callback-image" style="background-image: url(img/popup-callback-image.png);"></div>
        </div>
        <span class="popup-close">+</span>
    </div>
    <div class="popup popup-personal-data">
        <div class="popup-content">
            <div class="popup-title">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ (ПДН)</div>
            <div class="popup-text">
                <p>Настоящим, в рамках Федерального закона №152-ФЗ от 27.07.2006г. «О персональных данных», сообщив сотруднику магазина свои персональные данные и код, полученный на мой мобильный телефон посредством смс-сообщения, я выражаю свободно, своей волей, в своем интересе полное согласие на обработку моих персональных данных, персональных данных моего несовершеннолетнего ребенка, озвученных сотруднику магазина, оператору персональных данных интернет-магазина «Боника», место нахождения: Российская Федерация, 680031, г. Хабаровск, ул. Батумская д. 4, и передачу оператором данных третьим лицам для целей обработки. Цель обработки персональных данных – предоставление услуг индивидуального сервиса держателю Бонусной карты, участие в Бонусной программе.</p>
                <p>Способы обработки персональных данных: организация и проведение рекламно-информационных рассылок посредством, включая, но не ограничиваясь: sms-сервисов, электронной почты, почтовой связи, телефонной связи, обработка персональных данных с использованием средств автоматизации и электронно-вычислительной техники, в том числе, путём формирования базы данных.</p>
                <p>Настоящее согласие действует до его отзыва мной. Отзыв согласия на обработку персональных данных должен быть направлен в письменной форме по адресу: Российская Федерация, 680031, г. Хабаровск, ул. Батумская, 4.</p>
            </div>
        </div>
        <div class="popup-close">+</div>
    </div>
    <div class="popup popup-conf-policy">
        <div class="popup-content">
            <div class="popup-title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</div>
            <div class="popup-text">
                <p>Настоящая Политика конфиденциальности персональных данных ООО «Боника» (далее – Политика конфиденциальности) действует в отношении всей информации, которую Интернет-магазин «Боника»,</p>
                <p>расположенный на доменном имени адрес магазина, может получить о Пользователе во время использования сайта Интернет-магазина, программ и продуктов Интернет-магазина.</p>
                <p><strong>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong></p>
                <p>1.1 В настоящей Политике конфиденциальности используются следующие термины:</p>
                <p>1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
                <p>1.1.2. «Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>
                <p>1.1.3. «Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
                <p>1.1.4. «Конфиденциальность персональных данных» – обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>
                <p>1.1.5. «Пользователь сайта Интернет-магазина «Боника» (далее  Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.</p>
                <p>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
                <p>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
                <p><strong>2. ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>
                <p>2.1. Использование Пользователем сайта Интернет-магазина «Боника» означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>
                <p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Интернет-магазина.</p>
                <p>2.3.Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина «Боника». Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.</p>
                <p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Интернет-магазина.</p>
                <p><strong>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</strong></p>
                <p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.</p>
                <p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте интернет-магазина Название магазина в разделе Название раздела и включают в себя следующую информацию:</p>
                <p>3.2.1. фамилию, имя, отчество Пользователя;</p>
                <p>3.2.2. контактный телефон Пользователя;</p>
                <p>3.2.3. адрес электронной почты (e-mail);</p>
                <p>3.2.4. адрес доставки Товара;</p>
                <p>3.2.5. место жительство Пользователя.</p>
                <p>3.3. Интернет-магазин защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы (“пиксель”):</p>
                <p>· IP адрес;</p>
                <p>· информация из cookies;</p>
                <p>· информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);</p>
                <p>· время доступа;</p>
                <p>· адрес страницы, на которой расположен рекламный блок;</p>
                <p>· реферер (адрес предыдущей страницы).</p>
                <p>3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Интернет-магазина, требующим авторизации.</p>
                <p>3.3.2. Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.</p>
                <p>3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</p>
                <p><strong>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</strong></p>
                <p>4.1. Персональные данные Пользователя Администрация сайта интернет-магазина может использовать в целях:</p>
                <p>4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазина, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с Название интернет-магазина.</p>
                <p>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.</p>
                <p>4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта интернет-магазина, оказания услуг, обработка запросов и заявок от Пользователя.</p>
                <p>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</p>
                <p>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</p>
                <p>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.</p>
                <p>4.1.7. Уведомления Пользователя Сайта интернет-магазина о состоянии Заказа.</p>
                <p>4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.</p>
                <p>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта интернет-магазина.</p>
                <p>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Интернет-магазина или от имени партнеров Интернет-магазина.</p>
                <p>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.</p>
                <p>4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-магазина с целью получения продуктов, обновлений и услуг.</p>
                <p><strong>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</strong></p>
                <p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</p>
                <p>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте интернет-магазина «Название магазина», включая доставку Товара.</p>
                <p>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.</p>
                <p>5.4. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</p>
                <p>5.5. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</p>
                <p><strong>6. ОБЯЗАТЕЛЬСТВА СТОРОН</strong></p>
                <p><strong>6.1. Пользователь обязан:</strong></p>
                <p>6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом интернет-магазина.</p>
                <p>6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</p>
                <p><strong>6.2. Администрация сайта обязана:</strong></p>
                <p>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</p>
                <p>6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.</p>
                <p>6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</p>
                <p>6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</p>
                <p><strong>7. ОТВЕТСТВЕННОСТЬ СТОРОН</strong></p>
                <p>7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</p>
                <p>7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:</p>
                <p>7.2.1. Стала публичным достоянием до её утраты или разглашения.</p>
                <p>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</p>
                <p>7.2.3. Была разглашена с согласия Пользователя.</p>
                <p><strong>8. РАЗРЕШЕНИЕ СПОРОВ</strong></p>
                <p>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>
                <p>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
                <p>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.</p>
                <p>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.</p>
                <p><strong>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong></p>
                <p>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</p>
                <p>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>
                <p>9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать указать раздел сайта интернет-магазина</p>
                <p>9.4. Действующая Политика конфиденциальности размещена на странице по адресу www.bonica.ru</p>
            </div>
        </div>
        <div class="popup-close">+</div>
    </div>
    <div class="popup popup-reminder">
        <div class="popup-content">
            <div class="popup-reminder-title">
                <div class="popup-reminder-image" style="background-image: url(img/popup-reminder-image.png);"></div>
                Спасибо!
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row no-gutters justify-content-between">
                <div class="col-6 offset-1 footer-left">
                    <div class="footer-menu-wrap">
                        <div class="footer-menu-title">О компании</div>
                        <ul class="footer-menu">
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Новости</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Вакансии</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Полезные советы</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Конфиденциальноcть</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">3D-тур</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-menu-wrap">
                        <div class="footer-menu-title">Условия работы</div>
                        <ul class="footer-menu">
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Юридическим лицам</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Арендодателям</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Условия гарантии</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Акции</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-menu-wrap">
                        <div class="footer-menu-title">Контакты</div>
                        <ul class="footer-menu">
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Наши магазины</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Отдел закупок</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">Реквизиты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-5 footer-right">
                    <div class="footer-right-top">
                        <div class="footer-payment">
                            <div class="footer-payment-title">Принимаем к оплате</div>
                            <img src="img/payment-1.png" alt="" class="footer-payment-image">
                            <img src="img/payment-2.png" alt="" class="footer-payment-image">
                            <img src="img/payment-3.png" alt="" class="footer-payment-image">
                        </div>
                        <div class="footer-social-wrap">
                            <div class="footer-social-title">
                                Мы в соцсетях
                            </div>
                            <div class="footer-social">
                                <a href="https://vk.com/club115504417" class="footer-social-link vk" style="background-image: url(img/vk.svg);"></a>
                                <a href="https://instagram.com/tdbonica" class="footer-social-link instagram" style="background-image: url(img/instagram.svg);"></a>
                                <a href="https://ok.ru/profile/555242166001" class="footer-social-link odnoklassniki" style="background-image: url(img/ok.svg);"></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-right-bottom">
                        <form class="footer-search">
                            <input type="search" placeholder="Поиск по сайту..." name="footer-search">
                            <button type="submit" class="footer-search-btn"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container no-gutters">
            <div class="row align-items-end">
                <div class="col-12 col-md-7 offset-1 footer-bottom-left">
                    <div class="footer-conf-policy get-conf-policy-popup">Политика конфиденциальности</div>
                    <div class="footer-copyright">
                        © 2018. Официальный сайт Хабаровского детского оптового центра “БОНИКА“
                    </div>
                </div>
                <div class="col-12 col-md-4 footer-bottom-right">
                    <span class="copyrignt-texterra">Разработано в
                        <a href="https://texterra.ru/" target="_blank" class="copyright-texterra-link"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/libs.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/backend.js"></script>
</footer>