<header>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center no-gutters header-top-row">
                <div class="header-top-contacts">
                    <a href="tel:+74212416969" class="header-contacts-link">+7 (4212) 41-69-69</a>
                    <a href="tel:+74212606969" class="header-contacts-link">+7 (4212) 60-69-69</a>
                </div>
                <div class="col-6 justify-content-center header-top-menu-wrap">
                    <ul class="header-top-menu">
                        <li class="header-top-menu-item">
                            <a href="#" class="header-top-menu-item-link">О нас</a>
                        </li>
                        <li class="header-top-menu-item">
                            <a href="#" class="header-top-menu-item-link">Сотрудничество</a>
                        </li>
                        <li class="header-top-menu-item">
                            <a href="#" class="header-top-menu-item-link">Блог</a>
                        </li>
                        <li class="header-top-menu-item">
                            <a href="#" class="header-top-menu-item-link">Контакты</a>
                        </li>
                        <li class="header-top-menu-item">
                            <a href="#" class="header-top-menu-item-link">Доставка и оплата</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 header-top-registration-wrap">
                    <div class="header-top-registration">
                        <div class="header-top-registration-links">
                            <a href="javascript:void(0);" class="get-registration-popup">Регистрация</a> <span class="slash">/</span> <a href="javascript:void(0);" class="get-autorisation-popup">Вход</a>
                        </div>
                        <a href="#" class="header-top-registration-icon get-autorisation-popup">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="27px" height="30px" class="">
                                <path d="M173.781,280.469c-4.16,4.16-4.16,10.923,0,15.083c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115     l64-64c0.981-0.981,1.771-2.176,2.304-3.477c0.299-0.747,0.341-1.515,0.469-2.304c0.107-0.597,0.363-1.152,0.363-1.771     c0-0.811-0.299-1.536-0.469-2.283c-0.128-0.576-0.128-1.195-0.363-1.749c-0.555-1.344-1.365-2.539-2.368-3.563l-63.936-63.936     c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.923,0,15.083l45.76,45.781H32c-5.888,0-10.667,4.779-10.667,10.667     S26.112,234.667,32,234.667h187.584L173.781,280.469z" data-original="#000000" class="active-path" fill="#000000"/>
                                <path d="M444.608,0c-1.643,0-3.243,0.32-4.843,0.491C438.955,0.299,438.187,0,437.333,0h-256C151.936,0,128,23.936,128,53.333     V160c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667V53.333c0-17.643,14.357-32,32-32h204.032l-80.107,34.325     c-16.96,7.275-27.925,23.893-27.925,42.347v328.661h-96c-15.339,0-28.373-10.667-31.552-15.083l-0.448-123.627     c-0.021-5.867-4.8-10.624-10.667-10.624c0,0-0.021,0-0.043,0c-5.888,0.021-10.645,4.821-10.624,10.709l0.491,124.309     c-0.427,4.672,1.771,9.557,6.677,14.933c8.725,9.557,26.048,20.715,46.165,20.715h96v17.941     c0,25.387,20.672,46.059,46.059,46.059c6.293,0,12.416-1.259,18.133-3.712l121.216-51.947     c16.96-7.275,27.925-23.893,27.925-42.347V46.059C490.667,20.672,469.995,0,444.608,0z M469.333,413.995     c0,9.899-5.888,18.837-14.997,22.72L333.12,488.661c-3.072,1.344-6.357,2.005-9.728,2.005c-13.632,0-24.725-11.093-24.725-24.725     V98.005c0-9.899,5.888-18.837,14.997-22.72L434.88,23.339c3.072-1.344,6.357-2.005,9.728-2.005     c13.632,0,24.725,11.093,24.725,24.725V413.995z" data-original="#000000" class="active-path" fill="#000000"/>
                                <path d="M330.667,234.667c-5.888,0-10.667,4.779-10.667,10.667V288c0,5.888,4.779,10.667,10.667,10.667     s10.667-4.779,10.667-10.667v-42.667C341.333,239.445,336.555,234.667,330.667,234.667z" data-original="#000000" class="active-path" fill="#000000"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-3 header-top-cart-wrap">
                    <a href="javascript:void(0);" class="header-top-cart get-add-to-cart-popup">
                        <div class="header-top-cart-title">В корзине</div>
                        <span class="header-top-cart-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="24px" height="22px">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M214.685,402.828c-24.829,0-45.029,20.2-45.029,45.029c0,24.829,20.2,45.029,45.029,45.029s45.029-20.2,45.029-45.029    C259.713,423.028,239.513,402.828,214.685,402.828z M214.685,467.742c-10.966,0-19.887-8.922-19.887-19.887    c0-10.966,8.922-19.887,19.887-19.887s19.887,8.922,19.887,19.887C234.572,458.822,225.65,467.742,214.685,467.742z" data-original="#000000" class="active-path" fill="#000000"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M372.63,402.828c-24.829,0-45.029,20.2-45.029,45.029c0,24.829,20.2,45.029,45.029,45.029s45.029-20.2,45.029-45.029    C417.658,423.028,397.458,402.828,372.63,402.828z M372.63,467.742c-10.966,0-19.887-8.922-19.887-19.887    c0-10.966,8.922-19.887,19.887-19.887c10.966,0,19.887,8.922,19.887,19.887C392.517,458.822,383.595,467.742,372.63,467.742z" data-original="#000000" class="active-path" fill="#000000"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M383.716,165.755H203.567c-6.943,0-12.571,5.628-12.571,12.571c0,6.943,5.629,12.571,12.571,12.571h180.149    c6.943,0,12.571-5.628,12.571-12.571C396.287,171.382,390.659,165.755,383.716,165.755z" data-original="#000000" class="active-path" fill="#000000"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M373.911,231.035H213.373c-6.943,0-12.571,5.628-12.571,12.571s5.628,12.571,12.571,12.571h160.537    c6.943,0,12.571-5.628,12.571-12.571C386.481,236.664,380.853,231.035,373.911,231.035z" data-original="#000000" class="active-path" fill="#000000"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M506.341,109.744c-4.794-5.884-11.898-9.258-19.489-9.258H95.278L87.37,62.097c-1.651-8.008-7.113-14.732-14.614-17.989    l-55.177-23.95c-6.37-2.767-13.773,0.156-16.536,6.524c-2.766,6.37,0.157,13.774,6.524,16.537L62.745,67.17l60.826,295.261    c2.396,11.628,12.752,20.068,24.625,20.068h301.166c6.943,0,12.571-5.628,12.571-12.571c0-6.943-5.628-12.571-12.571-12.571    H148.197l-7.399-35.916H451.69c11.872,0,22.229-8.44,24.624-20.068l35.163-170.675    C513.008,123.266,511.136,115.627,506.341,109.744z M451.69,296.301H135.619l-35.161-170.674l386.393,0.001L451.69,296.301z" data-original="#000000" class="active-path" fill="#000000"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <div class="header-top-cart-text">
                            <span class="header-top-cart-text-quantity">0 товаров</span>
                            <span class="headet-top-cart-text-price">на 0 рублей</span>
                        </div>
                    </a>
                    <div class="popup popup-add-to-cart">
                        <div class="popup-content">
                            <div class="popup-add-to-cart-main">
                                <div class="popup-add-to-cart-title">товар добавлен в корзину!</div>
                                <div class="popup-add-to-cart-product">
                                    <a href="#" class="popup-add-to-cart-product-image-block">
                                    <img src="img/popup-add-to-cart-product-image.png" class="popup-add-to-cart-product-image">
                                    </a>
                                    <a href="#" class="popup-add-to-cart-product-title">Кукла карапуз Маша 
                                    (100 фраз, 4 песенки)</a>
                                    <div class="popup-add-to-cart-price">1 599 Р</div>
                                </div>
                            </div>
                            <div class="popup-add-to-cart-bottom">
                                <div class="popup-add-to-cart-bottom-info">
                                    <div class="popup-add-to-cart-bottom-info-quantity">
                                        Товаров в корзине: <span class="popup-add-to-cart-bottom-info-quantity-value">2</span>
                                    </div>
                                    <div class="popup-add-to-cart-bottom-info-sum">
                                        На сумму <span class="popup-add-to-cart-bottom-info-sum-value">3 200 Р</span>
                                    </div>
                                </div>
                                <a href="#" class="btn popup-add-to-cart-btn">Перейти в корзину</a>
                            </div>
                        </div>
                        <span class="popup-close">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row no-gutters header-middle-row">
                <div class="col-4 header-middle-left-wrap">
                    <div class="header-middle-left">
                        <a href="/" class="header-middle-logo" style="background-image: url(img/logo.png);"></a>
                    </div>
                </div>
                <div class="col-5 header-middle-center-wrap">
                    <div class="header-middle-center">
                        <div class="header-middle-center-title">
                            Детский оптово-розничный центр
                        </div>
                        <form class="header-search-form">
                            <input type="search" name="header-search" class="header-search" placeholder="Поиск по сайту...">
                            <button type="submit" class="header-search-btn">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-3 header-middle-right-wrap">
                    <div class="header-middle-right">
                        <div class="header-social">
                            <a href="https://vk.com/club115504417" class="header-social-link vk" style="background-image: url(img/vk-colored.svg);"></a>
                            <a href="https://instagram.com/tdbonica" class="header-social-link instagram" style="background-image: url(img/instagram-colored.svg);"></a>
                            <a href="https://ok.ru/profile/555242166001" class="header-social-link odnoklassniki" style="background-image: url(img/ok-colored.svg);"></a>
                        </div>
                        <div class="header-contacts">
                            <a href="tel:+74212416969" class="header-contacts-link">+7 (4212) 41-69-69</a>
                            <a href="tel:+74212606969" class="header-contacts-link">+7 (4212) 60-69-69</a>
                            <a href="javascript:void(0);" class="btn get-callback-popup">Заказать звонок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-sm-2">
                    <div class="header-allproducts-menu-block">
                        <a href="javascript:void(0);" class="header-allproducts-menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                        </a>
                        <div class="header-mainmob-menu-heading">
                            <span class="header-mainmob-menu-arrow"></span>
                        </div>
                        <ul class="header-mainmob-menu">
                            <li class="header-mainmob-menu-item">
                                <a href="#" class="header-mainmob-menu-link">О нас</a>
                            </li>
                            <li class="header-mainmob-menu-item">
                                <a href="#" class="header-mainmob-menu-link">Сотрудничество</a>
                            </li>
                            <li class="header-mainmob-menu-item">
                                <a href="#" class="header-mainmob-menu-link">Блог</a>
                            </li>
                            <li class="header-mainmob-menu-item">
                                <a href="#" class="header-mainmob-menu-link">Контакты</a>
                            </li>
                            <li class="header-mainmob-menu-item">
                                <a href="#" class="header-mainmob-menu-link">Доставка и оплата</a>
                            </li>
                            <li class="header-mainmob-menu-item">
                                <a href="#" class="header-mainmob-menu-link">Все товары</a>
                            </li>
                        </ul>
                        <a href="#" class="header-allproducts-link">
                        все товары
                        </a>
                        <ul class="header-allproducts-menu">
                            <li class="header-allproducts-menu-item">
                                <a href="#" class="header-allproducts-menu-item-link">
                                Пункт меню
                                </a>
                                <span class="menu-arrow"></span>
                                <ul class="header-allproducts-menu-submenu">
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-allproducts-menu-item">
                                <a href="#" class="header-allproducts-menu-item-link">
                                Пункт меню
                                </a>
                                <span class="menu-arrow"></span>
                                <ul class="header-allproducts-menu-submenu">
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-allproducts-menu-item">
                                <a href="#" class="header-allproducts-menu-item-link">
                                Пункт меню
                                </a>
                                <ul class="header-allproducts-menu-submenu">
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                </ul>
                                <span class="menu-arrow"></span>
                            </li>
                            <li class="header-allproducts-menu-item">
                                <a href="#" class="header-allproducts-menu-item-link">
                                Пункт меню
                                </a>
                                <ul class="header-allproducts-menu-submenu">
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                </ul>
                                <span class="menu-arrow"></span>
                            </li>
                            <li class="header-allproducts-menu-item">
                                <a href="#" class="header-allproducts-menu-item-link">
                                Пункт меню
                                </a>
                                <span class="menu-arrow"></span>
                                <ul class="header-allproducts-menu-submenu">
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                    <li class="header-allproducts-menu-submenu-item">
                                        <a href="#" class="header-allproducts-menu-submenu-item-link">
                                        Пункт подменю
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header-allproducts-mob-menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-10">
                    <ul class="header-category-menu">
                        <li class="header-category-menu-item">
                            <a href="#" class="header-category-menu-item-link">Музыкальные игрушки</a>
                            <div class="header-popular-menu-dropdown">
                              <div class="header-popular-submenu-wrap">
                  <div class="header-popular-submenu-title">
                            Аксессуары                </div>
                                  <ul class="header-popular-submenu">
                                          <li class="header-popular-submenu-item">
                                                    <a href="" class="header-popular-submenu-link">
                                Зонты и плащи                           </a>
                                                  
                      </li>
                                  </ul>
                                                    <a href="" class="btn-show-more">Показать все</a>
                                      
              </div>
                            </div>
                        </li>
                        <li class="header-category-menu-item">
                            <a href="#" class="header-category-menu-item-link">Сезонные товары</a>
                            <div class="header-popular-menu-dropdown">
                              <div class="header-popular-submenu-wrap">
                  <div class="header-popular-submenu-title">
                            Аксессуары                </div>
                                  <ul class="header-popular-submenu">
                                          <li class="header-popular-submenu-item">
                                                    <a href="" class="header-popular-submenu-link">
                                Зонты и плащи                           </a>
                                                  
                      </li>
                                  </ul>
                                                    <a href="" class="btn-show-more">Показать все</a>
                                      
              </div>
                            </div>
                        </li>
                        <li class="header-category-menu-item">
                            <a href="#" class="header-category-menu-item-link">Для детской комнаты</a>
                            <div class="header-popular-menu-dropdown">
                              <div class="header-popular-submenu-wrap">
                  <div class="header-popular-submenu-title">
                            Аксессуары                </div>
                                  <ul class="header-popular-submenu">
                                          <li class="header-popular-submenu-item">
                                                    <a href="" class="header-popular-submenu-link">
                                Зонты и плащи                           </a>
                                                  
                      </li>
                                  </ul>
                                                    <a href="" class="btn-show-more">Показать все</a>
                                      
              </div>
                            </div>
                        </li>
                        <li class="header-category-menu-item">
                            <a href="#" class="header-category-menu-item-link">Для праздников</a>
                        </li>
                        <li class="header-category-menu-item">
                            <a href="#" class="header-category-menu-item-link">Герои мультфильмов</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header-popular-menu-wrap">
                        <ul class="header-popular-menu">
                            <li class="header-popular-menu-item toys">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">Игры и игрушки</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header-popular-menu-item food">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">детское питание</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header-popular-menu-item hobby">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">для хобби и творчества</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header-popular-menu-item clothes">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">одежда и обувь для детей</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header-popular-menu-item sport">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">Детский спорт</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header-popular-menu-item newborn">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">для малышей и новорожденных</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                            <li class="header-popular-menu-item action">
                                <a href="#" class="header-popular-menu-item-link">
                                <span class="header-popular-menu-item-icon"></span>
                                <span class="header-popular-menu-item-title">товары по акции</span>
                                </a>
                                <div class="header-popular-menu-dropdown">
                                    <div class="header-popular-submenu-wrap">
                                        <div class="header-popular-submenu-title">
                                            Игрушки для новорожденных
                                        </div>
                                        <ul class="header-popular-submenu">
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                            <li class="header-popular-submenu-item">
                                                <a href="#" class="header-popular-submenu-link">
                                                Пункт меню
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-show-more">Показать все</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="header-popular-mob-menu-wrap swiper-container">
                        <div class="swiper-wrapper">
                            <ul class="header-popular-mob-menu swiper-slide">
                                <li class="header-popular-menu-item toys">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">Игры и игрушки</span>
                                    </a>
                                </li>
                                <li class="header-popular-menu-item food">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">детское питание</span>
                                    </a>
                                </li>
                                <li class="header-popular-menu-item hobby">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">для хобби и творчества</span>
                                    </a>
                                </li>
                                <li class="header-popular-menu-item clothes">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">одежда и обувь для детей</span>
                                    </a>
                                </li>
                                <li class="header-popular-menu-item sport">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">Детский спорт</span>
                                    </a>
                                </li>
                                <li class="header-popular-menu-item newborn">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">для малышей и новорожденных</span>
                                    </a>
                                </li>
                                <li class="header-popular-menu-item action">
                                    <a href="#" class="header-popular-menu-item-link">
                                    <span class="header-popular-menu-item-icon"></span>
                                    <span class="header-popular-menu-item-title">товары по акции</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>