<div class="pagination-wrap">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8">
			<ul class="pagination">
				<li class="pagination-item pagination-prev pagination-arrow"></li>
				<li class="pagination-item">
					<a href="#" class="pagination-item-link">1</a>
				</li>
				<li class="pagination-item">
					<a href="#" class="pagination-item-link">2</a>
				</li>
				<li class="pagination-item">
					...
				</li>
				<li class="pagination-item">
					<a href="#" class="pagination-item-link">6</a>
				</li>
				<li class="pagination-item">
					<a href="#" class="pagination-item-link">7</a>
				</li>
				<li class="pagination-item">
					...
				</li>
				<li class="pagination-item">
					<a href="#" class="pagination-item-link">11</a>
				</li>
				<li class="pagination-item">
					<a href="#" class="pagination-item-link">12</a>
				</li>
				<li class="pagination-item pagination-next pagination-arrow"></li>
			</ul>
		</div>
	</div>
</div>