<div class="product-item">
    <div class="product-item-discount">
        - 15%
    </div>
    <a href="#" class="product-item-image-link">
    <img src="img/product-item-image.png" alt="" class="product-item-image">
    </a>
    <div class="product-item-content">
        <a href="#" class="product-item-title">Рюкзак крутой с рисунком космоса, такой бы себе</a>
        <div class="product-item-bottom">
            <div class="product-item-price">
                2 130 Р
            </div>
            <button class="product-item-btn-add-to-cart btn btn-add-to-cart-small"></button>
        </div>
    </div>
</div>