<div class="publications-item">
    <div class="publications-item-heading">
        <span class="publications-item-date">28.08.2018</span>
    </div>
    <a href="#" class="publications-item-image" style="background-image: url(img/publications-slider-item-image-1.jpg);">
    </a>
    <div class="publications-item-content">
        <a href="#" class="publications-item-title">
        Рюкзак крутой с рисунком космоса
        </a>
        <div class="publications-item-text">
            Рюкзак крутой с рисунком космоса, такой бы себе рюкзак крутой с рисунком космоса, такой бы себе
        </div>
        <a href="#" class="publications-item-more">Подробнее >></a>
    </div>
</div>