<div class="subscribe-block">
    <div class="container">
        <div class="subscribe-block-inner">
            <div class="row no-gutters">
                <div class="col-12 col-md-5 offset-0 offset-md-1 subscribe-block-inner-left">
                    <div class="subscribe-block-inner-title">Дарим 200 бонусных баллов</div>
                    <div class="subscribe-block-inner-title-under">Подпишитесь и узнавайте первыми об акциях и распродажах</div>
                    <div class="subscribe-block-inner-text">1 бонусный балл = 1 рубль</div>
                </div>
                <div class="col-12 col-md-4 subscribe-block-inner-right">
                    <form class="subscribe-form">
                        <label>
                            <input type="email" name="subscribe-email" placeholder="Введите ваш e-mail">
                        </label>
                        <button type="submit" class="btn">Отправить</button>
                        <span class="conf-policy">При нажатии на кнопку вы автоматически соглашаетесь с <a href="#" class="personal-data-link get-personal-data-popup">Условиями обработки личных данных</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>